@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><a asp-controller="Employees" asp-action="Index">Go to Employees</a></p>
    <p><a asp-controller="Attendances" asp-action="Index">Go to Attendances</a></p>
    <p><a asp-controller="Attendances" asp-action="Report">View Attendance Reports</a></p>
</div>
